@page
@model Gasolin.Pages.IndexModel
@{
}


<main>
<div class="text-center bg-dark text-light">
    @for (int i = 1; i < Model.members.Length; i++)
    {
        <div class="container-fluid mb-5 border-bottom border-3 border-warning" href="@Model.members[i].BioLink">
            <a id="@Model.members[i].BioLink"></a>
            <img class="img-fluid rounded" src="@Model.members[i].ImgPath">
            <h1 class="align-content-center">@Model.members[i].Name</h1>
            <p>@Model.members[i].Bio</p>
        </div>
    }
</div>
</main>

