@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bg-black">
    <main class="bg-black" >
        <h1 class="centered-text">Masser Af Succes</h> 
       
        <!---- <img class="smallpictures" <img src="~/pictures/masser af succes beskåret.png"-->
		<img class="pictures" img src= "~/pictures/gasolin final pic.jpg" />
            <div class="container-fluid">
                <div class="card" style="display: mx-auto; width: 26rem;">
                    <img class="card-img-top" src="@Model.members[0].ImgPath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.members[0].Name</h5>
                        <p class="text-dark"><i>@Model.members[0].Role</i></p>
                        <p class="card-text">@Model.members[0].YearOfBirth - @Model.members[0].YearOfDeath</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                @for (int i = 1; i < Model.members.Length; i++)
                {
                    <div class="card" style="display: inline-block; width: 18rem;">
                        <img class="card-img-top" src="@Model.members[i].ImgPath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Model.members[i].Name</h5>
                            <p class="text-dark"><i>@Model.members[i].Role</i></p>
                            <p class="card-text">@Model.members[i].YearOfBirth - @Model.members[i].YearOfDeath</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                }
            </div>
        </body> 
 </main>
</div>
