@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bg-black">
    <main class="bg-black" >
        <h1 class="centered-text" >Masser Af Succes</h1> 
       
        <!---- <img class="smallpictures" <img src="~/pictures/masser af succes beskåret.png"-->
		<img class="pictures" <img src="~/pictures/gasolin den store finale.png" />
            <div class="container-fluid">
                <div class="card mx-auto bg-dark text-light" style="width: 26rem;">
                    <img class="card-img-top" src="@Model.members[0].ImgPath" alt="Card image cap">
                    <div class="card-body">
                        <a href="@Model.members[0].BioLink" class="btn btn-warning">@Model.members[0].Name</a>
                        <p class="text-light mt-3"><i>@Model.members[0].Role</i></p>
                        <p class="card-text">@Model.members[0].YearOfBirth - @Model.members[0].YearOfDeath</p>
                    </div>
                </div>
            <div class="row justify-content-center">
                @for (int i = 1; i < Model.members.Length; i++)
                {
                    <div class="card mx-sm-auto bg-dark text-light" style="display: inline-block; width: 18rem;">
                        <img class="card-img-top" src="@Model.members[i].ImgPath" alt="Card image cap">
                        <div class="card-body">
                            <a href="@Model.members[i].BioLink" class="btn btn-warning">@Model.members[i].Name</a>
                            <p class="text-light mt-3"><i>@Model.members[i].Role</i></p>
                            <p class="card-text">@Model.members[i].YearOfBirth - @Model.members[i].YearOfDeath</p>
                        </div>
                    </div>
                }
            </div>
            </div>

    </main>
	----------------------------------------------------------------------------------------------------------------------------------------------
	<div class="container">
		<div class="timeline">
			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-attachment"></i>
					<h4 style="color:white;"> Gasolins begyndelse</h4>
					<p style ="color:white;">Den danske rockgruppe Gasolin blev dannet</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-code"></i>
					<h4 style="color:white;">Admin Dashboard!</h4>
					<p style="color:white;">Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-turned_in_not"></i>
					<h4 style ="color:white;">Best Admin Template!</h4>
					<p style ="color:white;">Custom C3 graphs, Custom flot graphs, flot graphs, small graphs, Sass, profile and timeline.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-directions"></i>
					<h4 style="color:white;">Maxwell Admin</h4>
					<p style="color:white;">Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-change_history"></i>
					<h4 style="color:white;">Maxwell Dashboard</h4>
					<p style="color:white;">Maxwell Admin dashboard includes invoice, profile, tasks, gallery, projects, maintanence.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-code"></i>
					<h4 style="color:white;">Admin Dashboard!</h4>
					<p style="color:white;">Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content">
					<i class="icon-attachment"></i>
					<h4 style="color:white;">Admin Template!</h4>
					<p style="color:white;">Maxwell Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-content">
					<p class="m-0">Loading...</p>
				</div>
			</div>

		</div>
	</div>
</body> 

