@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="bg-black">
    <main class="bg-black" style="margin-top: 10%">
        <h1 class="centered-text">Masser Af Succes</h1>
		<!---- <img class="smallpictures" <img src="~/pictures/masser af succes beskåret.png"-->
		<img class="pictures" <img src="~/pictures/Gasolin_upscaled.png" />
            <div class="container-fluid text-center">
                <div class="card mx-auto bg-dark text-light mb-4 pt-2" style="max-width: 32rem;">
                    <img class="card-img-top" src="@Model.members[0].ImgPath" alt="Card image cap">
                    <div class="card-body">
                        <a href="@Model.members[0].BioLink" class="btn btn-warning">@Model.members[0].Name</a>
                        <p class="text-light mt-3"><i>@Model.members[0].Role</i></p>
                        <p class="card-text">@Model.members[0].YearOfBirth - @Model.members[0].YearOfDeath</p>
                    </div>
                </div>

            <div class="row justify-content-center">
                @for (int i = 1; i < Model.members.Length; i++)
                {
                    <div class="card mx-sm-auto bg-dark text-light mb-4 pt-2" style="display: inline-block; width: 16rem;">
                        <img class="card-img-top" src="@Model.members[i].ImgPath" alt="Card image cap">
                        <div class="card-body">
							<a href="AndreMedlemmer#@Model.members[i].BioLink" class="btn btn-warning">@Model.members[i].Name</a>
                            <p class="text-light mt-3"><i>@Model.members[i].Role</i></p>
                            <p class="card-text">@Model.members[i].YearOfBirth - @Model.members[i].YearOfDeath</p>
                        </div>
                    </div>
                }
            </div>
            </div>
    </main>

	<div class="container bg-black">
		<div class="timeline bg-black">
			<div class="timeline-row">
				<div class="timeline-time text-warning">1969</div>
				<div class="timeline-content bg-dark">
					<h4 style="color:white;"> Gasolin's begyndelse</h4>
					<p style ="color:white;">Den danske rockgruppe, Gasolin, blev dannet i 1969. Gruppen bestod dengang af Kim Larsen, Wili Jønsson, Franz Berckerlee og Bjørg Uglebjerg</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1971</div>
				<div class="timeline-content">
					<h4 style="color:white;">Søren Berlev bliver nyt medlem</h4>
					<p style="color:white;">Søren Berlev afløser den hidtidige trommeslager, Bjørn Uglebjerg, og dermed var den endelige besætning på plads. </p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1971</div>
				<div class="timeline-content">
					<h4 style="color:white;">Gasolin udgiver deres debutalbum, "Gasolin'"</h4>
					<p style="color:white;">Albummet indeholder sange, der senere bliver klassikere, som "Masser af succes".</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1972</div>
				<div class="timeline-content">
					<h4 style="color:white;">Bandet udgiver sit andet album, "Gasolin' 2"</h4>
					<p style="color:white;">Albummet cementerer deres popularitet i Danmark med hits som "Rabalderstræde".</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1975</div>
				<div class="timeline-content">
					<h4 style="color:white;">Gasolin udgiver "Stakkels Jim"</h4>
					<p style="color:white;"> Almbummet indeholder nogle af deres mest kendte sange, herunder "Dette er mit liv" og "Stakkels Jim".</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1978</div>
				<div class="timeline-content">
					<h4 style="color:white;">Bandet når sit højdepunkt</h4>
					<p style="color:white;">"Gas 5" udkommer og indeholder bl.a. hits som "Vilde kaniner" og "Kvinde min".</p>
				</div>
			</div>

			<div class="timeline-row">
				<div class="timeline-time text-warning">1980</div>
				<div class="timeline-content">
					<h4 style="color:white;">Gasolin beslutter at gå hver til sit</h4>
					<p style="color:white;">Med en sidste koncert i Århus efterlader de sig en betydelig arv i den danske musikscene.</p>
				</div>
			</div>
		</div>
	</div>
</body> 

